/*общий класс фото*/
.photo {
  object-fit: cover;
}
.photo:hover {
  cursor: pointer;
}
/*круглая фотка*/
.photo_round {
  border-radius: 50%;
}
/*самая маленькая круглая фотка*/
.size_xs {
  width: 35px;
  height: 35px;
}
/*просто маленькая круглая фотка*/
.size_s {
  width: 45px;
  height: 45px;
}
/*средняя квадратная фотка*/
.size_m {
  height: 150px;
  width: auto;
}
/*большая фотка (по умолчанию)*/
.size_l {
  height: 280px;
  width: auto;
}
/*самая большая фотка*/
.size_xl {
  width: 640;
  max-width: 100%;
  height: auto;
}
