/*общий класс фото*/
.photo{
    object-fit: cover;
}
/*круглая фотка*/
.photo_round{
    border-radius: 50%;
}
/*самая маленькая круглая фотка*/
.size_xs{
    width: 28px;
    height: 28px;
}
/*просто маленькая круглая фотка*/
.size_s{
    width: 45px;
    height: 45px;
}
/*средняя квадратная фотка*/
.size_m{
    height: 150px;
    width: auto;
    margin: 5px 4px 10px 4px;
 }
 /*большая фотка (по умолчанию)*/
.size_l{  
    height: 290px;
    width: auto;
    margin: 10px 5px 0px 5px;
}
 /*самая большая фотка*/
.size_xl{  
    width: 640px;
    height: auto;
}
/*курсор при наведении*/
.size_xs:hover, .size_s:hover, .size_m:hover, .size_l:hover, .size_xl:hover{
    cursor: pointer;
}
