/*общий класс фото*/
.photo {
  object-fit: cover;
  width: 100%;
}
.photo:hover {
  cursor: pointer;
}
/*круглая фотка*/
.photo_round {
  border-radius: 50%;
}
/*фото в модальном окне*/
.photo_curs:hover {
  cursor: default;
}
/*самая маленькая круглая фотка*/
.size_xs {
  max-width: 35px;
  max-height: 35px;
}
/*просто маленькая круглая фотка*/
.size_s {
  max-width: 45px;
  max-height: 45px;
}
/*средняя квадратная фотка*/
.size_m {
  height: 100%;
  max-height: 160px;
  width: auto;
}
/* фотка в модальном окне */
.size_mod {
  max-width: 95%;
  max-height: 95%;
  height: auto;
  object-fit: cover;
}
/*большая фотка (по умолчанию)*/
.size_l {
  max-height: 340px;
  position: relative;
}
/*самая большая фотка*/
.size_xl {
  max-width: 640px;
  height: auto;
}
/* поле, появяющееся при наведении на аватар пользователя для обновления фотографии */
.edit-field {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: -40px;
  margin-left: -15px;
  background-color: white;
  opacity: 90%;
  position: absolute;
}

.size_l:hover + .edit-field {
  display: flex;
}
.edit-field:hover {
  cursor: pointer;
  display: flex;
}

/* input type file, сброс стандартного поля */
.load-file {
  display: none;
}
/* стилизация кнопки типа submit */
.subm {
  width: 22px;
  height: 22px;
  border: none;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
  outline: none;
  opacity: 80%;
}

/* кратинка "загрузки", нажав, на которую можно выбрать нужную фотографию для обновления  */
.load-img {
  width: 30px;
  height: 30px;
  opacity: 90%;
  margin-right: 10px;
  margin-top: 10px;
  outline: none;
}

.load-img:hover,
.subm:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  z-index: 10;
}
