.user__name {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical; 
}

.user__status {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.button__user_blue {
    color: blue;
    margin: 5px 0 10px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out; 
    border-radius: 5px;
}

.button__user_blue:hover {
    background-color: #DDDDDD;
    color: black;
}

.user__fullinfo {
    display:none;
}

.user__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user__info_left {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    color: grey;
    margin-bottom: 5px;
}

.user__info_right {
    -webkit-box-flex: 75%;
        -ms-flex: 75%;
            flex: 75%;
    width: auto;
    margin-left: 5px;
}



