.wall{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.post-head{
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 10px;
  align-items: center;
}

.post-head__img{
  grid-row: 1 / 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-head__name{
  color: #2a5885;
  font-size: 15px;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-head__date{
  font-size: 12px;
  color: rgb(148, 148, 148);
}

.post-body__text{
  font-size: 15px;
}

.post-body__img{
  max-width: 100%;
}