.gallery{
    min-width: 100%;
    display: flex;
    overflow-x: auto;
}
.gallery__item{
    margin: 0 5px;
}
.gallery:hover{
    cursor: pointer;
}
.gallery::-webkit-scrollbar {
    display: none;
  }