.gallery{
    min-width: 100%;
    display: flex;
    overflow-x: auto;
    margin: 0;
}
.gallery__item{
    margin-right: 10px;
    width: 153px;
    height: 153px;
}
.gallery::-webkit-scrollbar {
    display: none;
  }
  