/*
 * Header Block
 */

.block--header {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #5682a3;
  padding: 15px;
  font-size: 15px;
  margin-top: 0;
  border-radius: 0 0 5px 5px;

  .block__title {
    color: #ffffff;
    font-size: 17px;
  }

  .block__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .block__manage {

    display: flex;
    align-items: center;
    justify-self: end;

    i {
      text-align: center;
      font-size: 17px;
      color: #ffffff;
      cursor: pointer;
      width: 24px;
      height: 17px;

      &:hover {
        opacity: .7;
      }
    }

    a.block__link {
      color: #8bacc6;
      margin-right: 10px;

      &:hover {
        opacity: .8;
        //color: #acc5db;
      }
    }
  }
}
