/*
 * User Block
 */

.block--user {

  padding: 20px;

  .block__title {
    margin-bottom: 10px;
  }

  .block__subtitle {

    line-height: 1;
    color: #000000d9;
    white-space: normal;

    &:after {
      content: "";
      display: block;
      border-bottom: #e7e8ec 1px solid;
      margin: 20px 0 20px;
    }
  }

  .details {

    &__title {
      align-self: center;
    }

    width: 70%;
  }

  a.block__link {
    display: block;
    margin-top: 10px;
    color: #2a5885;
  }

  .additionally {
    display: none;
    margin-top: 10px;
  }

}
