/*
 * Fonts
 */
/**
 * Gilroy Fonts
 */
@font-face {
  font-family: "Gilroy";
  src: url("../libs/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../libs/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../libs/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../libs/gilroy/Gilroy-Regular.woff") format("woff"), url("../libs/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../libs/gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../libs/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../libs/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../libs/gilroy/Gilroy-Bold.woff") format("woff"), url("../libs/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../libs/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../libs/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../libs/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../libs/gilroy/Gilroy-Medium.woff") format("woff"), url("../libs/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../libs/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../libs/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../libs/gilroy/Gilroy-Light.woff2") format("woff2"), url("../libs/gilroy/Gilroy-Light.woff") format("woff"), url("../libs/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../libs/gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../libs/gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../libs/gilroy/Gilroy-Black.woff2") format("woff2"), url("../libs/gilroy/Gilroy-Black.woff") format("woff"), url("../libs/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/**
 * Font Awesome
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../libs/fa/webfonts/fa-solid-900.eot");
  src: url("../libs/fa/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../libs/fa/webfonts/fa-solid-900.woff2") format("woff2"), url("../libs/fa/webfonts/fa-solid-900.woff") format("woff"), url("../libs/fa/webfonts/fa-solid-900.ttf") format("truetype"), url("../libs/fa/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

/*
 * Variables
 */
/*
 * Main
 */
* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #d9dfe4;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  margin: 0;
}

a{
  text-decoration: none; 
}

/*
 * Container
 */
.container {
  width: 95%;
  max-width: 992px;
  margin: 0 auto;
}

/*
 * Section Layout
 */
section.layout {
  display: grid;
  grid-template-columns: 68% auto;
  grid-column-gap: 10px;
}

/**
 Block
 */
.block {
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}
.block__title, .block__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block__title--heading {
  font-size: 25px;
  font-weight: 500;
}
.block__subtitle {
  font-size: 15px;
}
.block__img {
  display: block;
}
.block__link {
  cursor: pointer;
  text-decoration: none;
}

/*
 * Details Block
 */
.details {
  display: grid;
  grid-row-gap: 3px;
  font-size: 15px;
}
.details--column {
  grid-template-columns: repeat(auto-fill, 85px);
}
.details__title, .details__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.details__title {
  color: #818181;
}
.details__value {
  color: #2a5885;
}
.details__item {
  display: grid;
  grid-column-gap: 20px;
}
.details__item--column {
  grid-template-columns: repeat(2, 1fr);
}

/*# sourceMappingURL=theme.css.map */
