/*полурозрачный фон под модальным окном*/
.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(86, 101, 110, 0.7);
    z-index: 50;
    position: fixed;
}
.layer:hover{
    cursor: pointer;
}
/*модальное окно с фотографией*/
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    width: 80%;
    max-width: 640px;
    height: 95%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 10px 10px rgba(2, 2, 2, 0.2);
    position: fixed;
    background-color: white;
}
/*кнопка выхода из модального окна*/
.btn{
    float: right;
    margin: 40px;
    background:transparent;
    opacity: 50%;
    padding: 0;
    border: none;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    opacity: 100%;
}
/*картинка-крестик на кнопке выхода*/
.btn-img{
    object-fit: cover;
    width: 30px;
    height: 30px;
}
