/*полурозрачный фон под модальным окном*/
.layer_zindex {
  width: 100%;
  height: 100%;
  background-color: rgba(86, 101, 110, 0.7);
  z-index: 30;
  position: fixed;
}

.layer_zindex:hover {
  cursor: pointer;
}

/*модальное окно с фотографией*/
.modal-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  z-index: 40;
  width: 80%;
  max-width: 1000px;
  height: 95%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 10px 10px rgba(2, 2, 2, 0.2);
  position: fixed;
  background-color: white;
}

.modal-gallery::-webkit-scrollbar {
  width: 0;
}

.photo__item {
  margin: 5px;
}
